@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

:root {
    --primary:#ffe0b2;
    --dark:#cbae82;
    --light:#ffffe4;
    --box-shadow:0 .5rem 1.5rem #cfd8dc;
}

* {
    font-family: 'RocknRoll One';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear; /*按按鈕的效果滑順一些*/
}

html {
    font-size: 62.5%; /*62.5%*/
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff8e1;
    padding: 1rem 7%;
    display: flex; /*導航欄上的東西並排關鍵*/
    align-items: center;
    justify-content: space-between; /*分散到正確位置關鍵*/
    z-index: 1000; /*圖片或文字可以做重疊*/
    box-shadow: var(--box-shadow);
}

header .logo {
    color: var(--dark);
    font-size: 4rem; /*2.5rem*/
    font-weight: bolder;
    margin-bottom: 18px;
}

header .logo img {
    margin-top: .5rem;
    margin-right: 1rem;
    width: 11%;
}

header .navbar a {
    font-size: 3rem; /*1.7rem*/
    border-radius: 2rem; /*.5rem*/
    padding:.5rem 1rem; /*.5rem 1.5rem導航欄首頁..這些東西的間距*/
    color: var(--dark);
}

header .navbar a:hover, header .navbar a:active {
    color: var(--box-shadow);
    background: var(--dark);
}

header .icons i, header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 5rem; /*icon位置 4.5rem*/
    width: 5rem; /*icon的間距 4.5rem*/
    line-height:5rem; /*4.5rem*/
    text-align: center;
    font-size: 3rem; /**/
    color: var(--dark);
    border-radius: 50%;
    background: var(--primary);
}

header .icons i:hover, header .icons a:hover {
    color:var(--box-shadow);
    background: var(--light);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none; /*大螢幕時隱藏三條線的menu*/
}

#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid var(--box-shadow);
    padding: 1rem 0;
    color: var(--box-shadow);
    font-size: 3rem;
    text-transform: none;
    background: none;
}

/*input框框輸入的樣式*/
#search-form #search-box::placeholder {
    color: var(--light);
}

#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance:none;
}

#search-form label {
    color: var(--light);
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover {
    color: var(--primary);
}

#search-form #close {
    position: absolute;
    color: var(--light);
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;

}


/*responsive 不同螢幕尺寸的畫面*/
@media (max-width:991px) {
    html {
        font-size: 50%;
    }
}

@media (max-width:768px) {
    header .icons #menu-bars {
        display: inline-block; /*小螢幕時顯示三條線menu*/
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--box-shadow);
        border-top: .1rem solid var(--dark);
        border-bottom: .1rem solid var(--dark);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar .active {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--box-shadow);
    }
}






